html {
  font-size: 24px;
}

.newspaper {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

/* Newspaper Name */
.name {
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
  text-transform: uppercase;
}

/* Headline */
.headline {
  font-size: 2em;
  font-weight: bold;
}

/* Sub-Headline */
.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

/* Author */
.author {
  text-transform: uppercase;
  font-weight: bold;
}

/* Article Body Text */
.text {
  text-indent: 20px;
  line-height: 2em;
}

/* Drop-Cap First Letter */
.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}
