
tr[class="read"] {
  background-image: linear-gradient(lightgreen, white);
}


tr[class="to-read"] {
  background-image: linear-gradient(lightyellow, white);
}

tr[class="in-progress"] {
  background-image: linear-gradient(lightblue, white);
}



span {
  display: inline-block;
}



tr[class="to-read"] span[class="status"] {
  border: 2px solid orange;
  background-image: linear-gradient(orange, yellow);
}

tr[class="read"] span[class="status"] {
  border: 2px solid green;
  background-image: linear-gradient(lightgreen, white);
}


tr[class="in-progress"] span[class="status"] {
  border: 2px solid blue;
  background-image: linear-gradient(lightblue, white);
}



span[class="status"],
span[class^="rate"] {
  height: 24px;
  width: 80px;
  padding: 4px;
}



span[class^="rate"] > span {
  border: 2px solid gray;
  border-radius: 50%;
  margin: 2px;
  height: 12px;
  width: 12px;
  background-color: white;
}



span[class~="one"] > span:first-child {
  background-image: linear-gradient(gold, yellow);
}


span[class~="two"] > span:nth-child(-n+2) {
  background-image: linear-gradient(gold, yellow);
}


span[class~="three"] > span {
  background-image: linear-gradient(gold, yellow);
}
